*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

header{
  padding: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #00FF00;
}
#principal{
  display: flex;
  align-items: center;
  justify-content: center;
}

#divs{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#start{
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 gap: 30px;
}
body{
  background-color: #121214;
  color: #f0f0f0;
}

.lista{
    border: solid #f0f0f0 1px;
    height: auto;
    width: 500px;
    padding: 40px;
    margin: 5px auto;
}
button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
    border: 1px solid #00FF00;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #00FF00;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00FF00;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   .input {
    background-color: #212121;
    max-width: 190px;
    height: 40px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid #00FF00;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .input:focus {
    color: #00FF00;
    background-color: #212121;
    outline-color: #00FF00;
    box-shadow: -3px -3px 15px #00FF00;
    transition: .1s;
    transition-property: box-shadow;
  }